<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h2, initial-scale=1.0">
    <title>All products</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>

    <div class="nav">
        <h1 style="color: white;">Cloud</h1>
        <div class="nav-items">            
            <h2 style="color:whitesmoke; font-size:x-large">Manage Products</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/addProducts" class="link" style="color: whitesmoke;">Add products</a>
            <a href="/editProducts" class="link" style="color: whitesmoke;">Edit products</a>
            <a href="/adminHome" class="link" style="color: whitesmoke;">Manage Orders</a>
            <a href="/login" class="link" style="color: whitesmoke;">Logout</a>
        </div>
    </div>

    <h2 style="text-align: center;">{{message}}</h2>

    <section class="product">
        <div class="product-container">
            {{#each items}}
                <form action="/allProducts" method="post">
                    <div class="product-card" >
                        <div class="product-image">
                            <a href="#"><img src="data:image/{{image.img.contentType}};base64,{{str this.img.data}}" class="product-thumb"  alt=""></a>
                            <button class="card-btn" name="id" value={{this._id}} type="submit">Remove Product</button>
                        </div>
                        <div class="product-info">
                            <h2 class="product_brand" >{{this.name}}</h2>
                            <p class="product-short-des" >{{this.description}}</p>
                            <span class="price" >₹{{this.price}}</span>
                        </div>
                    </div>
                </form>
            {{/each}}
        </div>
    </section>

</body>
</html>
