<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cart</title>
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
        <div class="nav">
            <h1 style="color: white;">Cloud</h1>
            <div class="nav-items">
                <h2 style="color:whitesmoke">Your Cart </h2>
            </div>
        </div>

        <ul class="links-container">
            <li class="link-item"><a href="/" class="link">Continue Shopping</a></li>  
        </ul>

        <form action="/cart" method="post">

            <section class="product">
                <div class="product-container">
                    {{#each items}}
                        <div class="product-card">
                            <div class="product-image">
                                <a href="#"><img src="/products/{{this.prodId}}.png" class="product-thumb" name={{this.prodId}} alt=""></a>
                            </div>
                            <div class="product-info">
                                <h2 class="product_brand" name="name">{{this.prodName}}</h2>
                                <p class="product-short-des" name="desc">{{this.prodDesc}}</p>
                                <span class="price" name="price">₹{{this.prodPrice}}</span>
                            </div>
                        </div>
                    {{/each}}            
                </div>
            </section>
            {{#if isnotMessage}}
            <br><h2 class ="link-item" style="text-align: center;">Total Ammount : ₹{{total}}</h2><br>
                <ul class="links-container">
                    <li class ="link-item"><br><button href="/order" class="submit-btn" style="font-size: larger;" type="submit">Place Your Order</button></li>
                </ul>
            {{/if}}

        </form>

        <br><br><h2 style="text-align: center;">{{message}}</h2>

    </body>
</html>