<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h2, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>

    <div class="nav">
        <h1 style="color: white;">Cloud</h1>
        <div class="nav-items">
            <!-- <form action="" method="post"> -->
                <div class="search">
                    <input type="text" class="search-box" placeholder="search brand, product" name="userSearch">
                    <button class="search-btn">Search</button>
                </div>
            <!-- </form> -->
            
            <a href="/login" class="link" style="color: whitesmoke;">Account</a>
            <a href="/cart" class="link" style="color: whitesmoke;">Cart</a>
            <a href="/ordersList" class="link" style="color: whitesmoke;">Your Orders</a>
        </div>
    </div>
    <ul class="links-container">
        <li class="link-item"><a href="/" class="link">Home</a></li>
        <li class="link-item"><a href="#" class="link">Clothing</a></li>
        <li class="link-item"><a href="#" class="link">Accessories</a></li>
    </ul>

    <h2>{{message}}</h2>

    <section class="product">
        <div class="product-container">
            <form action="/" method="post">
                <div class="product-card" >
                    <div class="product-image">
                        <a href="#"><img src="/products/1.png" class="product-thumb"  alt=""></a>
                        <button class="card-btn" name="id" value=1 type="submit">Add To Cart</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product_brand" >{{prod1.prodName}}</h2>
                        <p class="product-short-des" >{{prod1.prodDesc}}</p>
                        <span class="price" >₹{{prod1.prodPrice}}</span>
                    </div>
                </div>
            </form>
            
            <form action="/" method="post">
                <div class="product-card" >
                    <div class="product-image">
                        <a href="#"><img src="/products/2.png" class="product-thumb"  alt=""></a>
                        <button class="card-btn" name="id" value=2 type="submit">Add To Cart</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product_brand">{{prod2.prodName}}</h2>
                        <p class="product-short-des">{{prod2.prodDesc}}</p>
                        <span class="price">₹{{prod2.prodPrice}}</span>
                    </div>
                </div>
            </form>
            
            <form action="/" method="post">
                <div class="product-card" >
                    <div class="product-image">
                        <a href="#"><img src="/products/3.png" class="product-thumb" alt=""></a>
                        <button class="card-btn" name="id" value=3 type="submit">Add To Cart</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product_brand">{{prod3.prodName}}</h2>
                        <p class="product-short-des">{{prod3.prodDesc}}</p>
                        <span class="price">₹{{prod3.prodPrice}}</span>
                    </div>
                </div>
            </form>
            
            <form action="/" method="post">
                <div class="product-card" >
                    <div class="product-image">
                        <a href="#"><img src="/products/4.png" class="product-thumb" alt=""></a>
                        <button class="card-btn" name="id" value=4 type="submit">Add To Cart</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product_brand">{{prod4.prodName}}</h2>
                        <p class="product-short-des">{{prod4.prodDesc}}</p>
                        <span class="price">₹{{prod4.prodPrice}}</span>
                    </div>
                </div>            
            </form>

        </div>
    </section>

    <footer>
        <h1 style="color: white;">Cloud</h1>
        <p class="footer-title">about company</p>
        <p class="info">blah blah blah blahh</p>
        <p class="info">support emails - help@clothing.com, customersupport@clothing.com</p>
        <p class="info">telephone - 9999999999, 8888888888</p>
        <div class="footer-social-container">
            <div>
                <a href="#" class="social-link">terms & services</a>
                <a href="#" class="social-link">privacy page</a>
            </div>
            <div>
                <a href="#" class="social-link">instagram</a>
                <a href="#" class="social-link">facebook</a>
                <a href="#" class="social-link">twitter</a>
            </div>
        </div>
        <p class="footer-credit">Cloud, Best apparels online store</p>
    </footer>

</body>
</html>