<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="nav">
        <h1 style="color: white;">Cloud</h1>
        <div class="nav-items">
            <!-- <form action="" method="post"> -->
                <h2 style="color:whitesmoke; font-size:x-large">Track Your Orders </h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/" class="link" style="color: whitesmoke;">Home</a>
        </div>
    </div>


    <section class="product" style="text-align:center;">
        {{#each Items}}
            <h2>Order ID : {{this._id}}</h2><br>
            {{#each this.order}}
                <div style="display:inline-block">
                    <img src="/products/{{this.prodId}}.png" alt="" width="120px">
                    <h2 >{{this.prodName}}</h2>
                    <p >{{this.prodDesc}}</p>
                    <span>₹{{this.prodPrice}}</span>
                </div>
            {{/each}}
            <br><br><h2 style="font-size:medium;">Total Ammount : ₹{{this.total}}</h2>
            <br><h2 style="font-size:medium;">Ordered On : {{this.orderedDate}}</h2><br><br>
        {{/each}}
    </section>
    <br><br>
    <h2 style="text-align: center;">{{message}}</h2>



</body>
</html>