<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="nav">
        <h1 style="color: white;">Cloud</h1>
        <div class="nav-items">
            <!-- <form action="" method="post"> -->
                <h2 style="color:whitesmoke; font-size:x-large">Your Order </h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/" class="link" style="color: whitesmoke;">Home</a>
        </div>
    </div>

        <h2 style="font-size: xx-large; text-align : center; padding:20px;">Your Order Has Been Placed !</h2>

    <section class="product">
        <div class="product-container">
            {{#each items}}
                <div class="product-card">
                    <div class="product-image">
                        <a href="#"><img src="/products/{{this.prodId}}.png" class="product-thumb" alt=""></a>
                    </div>
                    <div class="product-info">
                        <h2 class="product_brand">{{this.prodName}}</h2>
                        <p class="product-short-des">{{this.prodDesc}}</p>
                        <span class="price">₹{{this.prodPrice}}</span><br>
                        <span class="price">Quantity : {{this.prodQuantity}}</span>

                    </div>
                </div>
            {{/each}}
        </div>
        {{#if isnotMessage}}
        <h2 class="heading"style="padding:20px;"> Total Ammount : ₹{{total}}</h2>
        {{/if}}
    </section>
    <br><br>
    <h2 class="heading">{{message}}</h2>
    



</body>
</html>