<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Old Order</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="nav">
        <h1 style="color: white;">Cloud</h1>
        <div class="nav-items">
            <!-- <form action="" method="post"> -->
                <h2 style="color:whitesmoke; font-size:x-large">Order History</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/" class="link" style="color: whitesmoke;">Home</a>
                <a href="/ordersList" class="link" style="color: whitesmoke;">Current Orders</a>
        </div>
    </div>


    <section class="product">
        {{#each Items}}
            <h2 class="heading">Order ID : {{this._id}}</h2><br>
            <div class="parent">
                {{#each this.order}}
                    <div class="child">
                        <img src="/products/{{this.prodId}}.png" alt="" width="120px">
                        <h2 >{{this.prodName}}</h2>
                        <p >{{this.prodDesc}}</p>
                        <span><b>₹{{this.prodPrice}}</b></span>
                    </div>
                {{/each}}<br><br>
                <h2 class="heading" style="font-size:medium;">Total Ammount : ₹{{this.total}}</h2><br>
                <h2 class="heading" style="font-size:medium;">Ordered On : {{this.orderedDate}}</h2><br><br>
                <h2 class="heading" style="font-size:medium;">Delivered On : {{this.deliveredDate}}</h2><br><br>
            </div>
        {{/each}}
    </section>
    <br><br>
    <h2 class="heading">{{message}}</h2>


</body>
</html>